{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="p-4">
    {% include "breadcrumb.html" %}
    <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% for field in form %}
            <div class="mb-4">
                <label for="{{ field.id }}"
                    class_="block text-gray-700 font-bold mb-2">{{ field.label }}</label>
                {{ field(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
            </div>
        {% endfor %}
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Save</button>
    </form>
    <a href="{{ url_for('settings.add_setting') }}">Add new setting</a>
</div>
{% endblock %}
